body
    margin: 0
    padding: 0
    overflow: hidden
    cursor: default

.wrapper
    height: 100vh
    display: grid
    grid-template-columns: 1fr 4fr

    .navigation
        background: #333
        color: white
        
        a
            color: white
            text-decoration: none

        .logo
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            font-size: 1.6rem
            border-bottom: 1px solid rgba(255, 255, 255, 0.3)
        
        svg
            width: 30px
            margin-right: 10px
            fill: white
        
        li
            display: flex
            align-items: center
            padding-left: 10px
            height: 50px
            transtition: 2s
            &:hover
                background: darken(#333, 3%)

            

    .page-content
        color: #333
        padding: 10px

#list-of-users
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 8px

#list-of-users > div
    background: lighten(#333, 95%)
    border: 1px solid rgba(51, 51, 51, .1)
    border-radius: 5px
    padding: 8px
    font-size: 20px
    transition: .4s
    &:hover
        background: lighten(#333, 70%)
    &>div
        display: flex
        justify-content: space-between

#accActions
    margin-top: 3px
    border-top: 1px solid rgba(51, 51, 51, .2)
    button
        margin-left: 5px
        margin-top: 8px

.valid
    border-left: 5px solid #28a745 !important

.invalid
    border-left: 5px solid #dc3545 !important

.uncheked
    border-left: 5px solid #ffc107 !important


.li-active
    background: lighten(#333, 3%)

.tasks-table > div
    background: lighten(#333, 95%)
    border: 1px solid rgba(51, 51, 51, .1)
    border-radius: 5px
    padding: 8px
    font-size: 1.2rem
    transition: .4s
    margin-bottom: 5px
    &:hover
        background: lighten(#333, 70%)

    input
        background: none
        border: none
        &:focus
            border-bottom: 1px solid #333

#additionalInfo
    margin-top: 3px
    border-top: 1px solid rgba(51, 51, 51, .2)
    button
        margin-left: 5px
        margin-top: 8px
    input, textarea
        margin-top: 5px