body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.wrapper .navigation {
  background: #333;
  color: white;
}

.wrapper .navigation a {
  color: white;
  text-decoration: none;
}

.wrapper .navigation .logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper .navigation svg {
  width: 30px;
  margin-right: 10px;
  fill: white;
}

.wrapper .navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  height: 50px;
  transtition: 2s;
}

.wrapper .navigation li:hover {
  background: #2b2b2b;
}

.wrapper .page-content {
  color: #333;
  padding: 10px;
}

#list-of-users {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

#list-of-users > div {
  background: white;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 5px;
  padding: 8px;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

#list-of-users > div:hover {
  background: #e6e6e6;
}

#list-of-users > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#accActions {
  margin-top: 3px;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
}

#accActions button {
  margin-left: 5px;
  margin-top: 8px;
}

.valid {
  border-left: 5px solid #28a745 !important;
}

.invalid {
  border-left: 5px solid #dc3545 !important;
}

.uncheked {
  border-left: 5px solid #ffc107 !important;
}

.li-active {
  background: #3b3b3b;
}

.tasks-table > div {
  background: white;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 5px;
  padding: 8px;
  font-size: 1.2rem;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 5px;
}

.tasks-table > div:hover {
  background: #e6e6e6;
}

.tasks-table > div input {
  background: none;
  border: none;
}

.tasks-table > div input:focus {
  border-bottom: 1px solid #333;
}

#additionalInfo {
  margin-top: 3px;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
}

#additionalInfo button {
  margin-left: 5px;
  margin-top: 8px;
}

#additionalInfo input, #additionalInfo textarea {
  margin-top: 5px;
}
/*# sourceMappingURL=main.css.map */