body
    margin: 0
    padding: 0
    overflow: hidden
    cursor: default

.wrapper
    height: 100vh
    display: grid
    grid-template-columns: 1fr 4fr

    .navigation
        background: #333
        color: white
        
        a
            color: white
            text-decoration: none

        .logo
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            font-size: 1.6rem
            border-bottom: 1px solid rgba(255, 255, 255, 0.3)
        
        svg
            width: 30px
            margin-right: 10px
            fill: white
        
        li
            display: flex
            align-items: center
            padding-left: 10px
            height: 50px
            transtition: 2s
            &:hover
                background: darken(#333, 3%)

            

    .page-content
        color: #333
        padding: 10px

#list-of-users
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 1vw

    div
        cursor: pointer
        display: flex
        justify-content: space-between
        align-items: center
        transition: .4s
        border-radius: 5px
        height: 50px 
        padding: 0 10px
        font-size: 1.2em
        border: 1px solid rgba(0,0,0, .1)
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .2)
        &:hover
            background: darken(white, 10%)

.valid
    border-left: 5px solid #28a745 !important

.invalid
    border-left: 5px solid #dc3545 !important

.uncheked
    border-left: 5px solid #ffc107 !important


.li-active
    background: lighten(#333, 3%)
            
.tasks-table
    .row.header
        align-items: center
        height: 50px

    
    .row:not(.header)
        align-items: center
        height: 50px
        margin-bottom: 5px
        border: 1px solid rgba(0,0,0, .1)
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .2)
        transition: .4s
        &:hover
            background: darken(white, 10%)