body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.wrapper .navigation {
  background: #333;
  color: white;
}

.wrapper .navigation a {
  color: white;
  text-decoration: none;
}

.wrapper .navigation .logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper .navigation svg {
  width: 30px;
  margin-right: 10px;
  fill: white;
}

.wrapper .navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  height: 50px;
  transtition: 2s;
}

.wrapper .navigation li:hover {
  background: #2b2b2b;
}

.wrapper .page-content {
  color: #333;
  padding: 10px;
}

#list-of-users {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
}

#list-of-users div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
  height: 50px;
  padding: 0 10px;
  font-size: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#list-of-users div:hover {
  background: #e6e6e6;
}

.valid {
  border-left: 5px solid #28a745 !important;
}

.invalid {
  border-left: 5px solid #dc3545 !important;
}

.uncheked {
  border-left: 5px solid #ffc107 !important;
}

.li-active {
  background: #3b3b3b;
}

.tasks-table .row.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.tasks-table .row:not(.header) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .4s;
  transition: .4s;
}

.tasks-table .row:not(.header):hover {
  background: #e6e6e6;
}
/*# sourceMappingURL=main.css.map */